<h2>{{title}}</h2>
<div *ngIf="isLoading" style="position:fixed; top:50%; left:50%; transform:translate(-50%,-50%);">
  <mat-spinner></mat-spinner>
</div>

<!--List View-->
<ng-container *ngIf="!isDetailView">
  <!-- Filters -->
  <div class="row mb-3">
    <div class="col-md-12 mb-3">
      <div class="filters">
        <select [(ngModel)]="filters.category" (change)="loadProducts()">
          <option [value]="undefined">All Categories</option>
          <option *ngFor="let cat of categories" [value]="cat.id">
            {{cat.name}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <!-- Featured -->
  <div class="row mb-5" *ngIf="!isLoading && featuredProducts && featuredProducts.length > 0">
    <div class="col-md-12">
      <h5>Featured Products</h5>
      <div id="carouselExampleIndicators" class="carousel slide bg-light">
        <div class="carousel-inner">
          <div *ngFor="let _ of featuredProducts; let idx = index">
            <div class="carousel-item" [class.active]="idx === 0" *ngIf="idx % 4 === 0">
              <div class="row">
                <div class="col-md-3" *ngFor="let item of featuredProducts | slice:idx:idx+4">
                  <mat-card class="product-card">
                    <mat-card-header>
                      <mat-card-title>{{item?.title | slice:0:25}}...</mat-card-title>
                      <mat-card-subtitle>{{item?.category_name}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [attr.src]="item?.image_url" alt="{{item?.title}}" class="list-img">
                    <mat-card-content>
                      <p>
                        {{item?.description | slice:0:30}}...
                      </p>
                      <p>Price: {{item?.price | currency}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-raised-button class="me-2" color="secondary"
                        (click)="viewProductDetails(item.id)">Details</button>
                      <button mat-raised-button color="primary" (click)="addToCart(item, 1)">Add to cart</button>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <!--Other Productcs-->
  <div class="row mb-5" *ngIf="!isLoading">
    <h5>All Products</h5>
    <div class="col-md-3 mb-3" *ngFor="let product of products">
      <mat-card class="product-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{product?.title | slice:0:25}}...</mat-card-title>
          <mat-card-subtitle>{{product?.category_name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [attr.src]="product?.image_url" alt="{{product?.title}}" class="list-img">
        <mat-card-content>
          <p>
            {{product?.description | slice:0:30}}...
          </p>
          <p>Price: {{product?.price | currency}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="me-2" color="secondary"
            (click)="viewProductDetails(product.id)">Details</button>
          <button mat-raised-button color="primary" (click)="addToCart(product, 1)">Add to cart</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <mat-paginator #paginator (page)="pageChangeEvent($event)" [length]="totalRecords" [pageSize]="itemPerPage"
    [pageIndex]="pageIndex" [length]="totalRecords" showFirstLastButtons>
  </mat-paginator>
</ng-container>

<!--Detail View-->
<ng-container *ngIf="isDetailView">
  <div class="col-md-6 mb-3">
    <mat-card class="product-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{productDetails.title}}</mat-card-title>
        <mat-card-subtitle>{{productDetails.category_name}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [attr.src]="productDetails.image_url" alt="{{productDetails.title}}">
      <mat-card-content>
        <p>
          {{productDetails.description}}
        </p>

        <p>Featured: {{productDetails.is_featured}}</p>
        <p>Price: <span class="fw-bold">{{productDetails.price}}</span></p>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="me-2" color="secondary" (click)="backToList()">Back</button>
        <button mat-raised-button color="primary" (click)="addToCart(productDetails, 1)">Add to cart</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>