mat-card img.list-img {
  width: 100%; /* Ensures image takes full width of its container */
  height: 200px; /* Set a fixed height for consistency */
  object-fit: cover; /* Crops the image to fit the container without distortion */
  /* object-fit: contain; // Scales the image down to fit within the container, maintaining aspect ratio */
  /* object-fit: fill; // Stretches the image to fill the container, potentially distorting aspect ratio */
}